{% extends "books/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
  <legend class="border-bottom mb-4">
    <a
      data-toggle="collapse"
      href="#insertCollapse"
      role="button"
      aria-expanded="false"
      aria-controls="insertCollapse"
      >Insert data</a
    >
  </legend>
  <form
    method="POST"
    action={% url 'books:insert' 'book' %}
    class="collapse multi-collapse"
    id="insertCollapse"
  >
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Save</button>
    </div>
  </form>
</div>
<div class="content-section">
  <legend class="border-bottom mb-4">Search</legend>
    <form action= "{% url 'books:search-book' %}" method="post">
      {% csrf_token %}
      <div class="form-row">
      <div class="form-group col-md-4">
        <label for="name">Book :</label>
        <input type="search" class="form-control" name="book_name">
      </div>
      <div class="form-group col-md-4">
        <label for="name">Publisher :</label>
        <input type="search" class="form-control" name="publisher_name">
      </div>
      <div class="form-group col-md-2"> 
      <label for="year">Year :</label>
      <input type="search" class="form-control" name="year">
      </div> 
      <div class="form-group col-md-2">
      <label>: </label>
      <input type="submit" class="form-control btn btn-primary" value="Search">    
      </div>
      </div>    
    </form>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ISBN</th>
          <th scope="col">Title</th>
          <th scope="col">Published Date</th>
          <th scope="col">Publisher</th>
          <th scope="col">Author</th>
          {% if user.is_authenticated %}
            <th scope="col">Extra Option</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <th scope="row">{{ forloop.counter0|add:books.start_index }}</th>
          <td>{{ book.isbn}}</td>
          <td>{{ book.title}}</td>
          <td>{{ book.published_date}}</td>
          <td>{{ book.publisher}}</td>
          <td>
            {% for author in book.written.all%}
            <ul>
              <li>{{author.author_name}}</li>
            </ul>
            {% endfor %}
          </td>
              {% if user.is_authenticated %}
          <td>
            <button type="button" class="btn btn-outline-primary btn-sm">E</button>
            <button type="button" class="btn btn-outline-danger btn-sm">D</button>
          </td>
              {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
          {% if books.has_other_pages %}

      {% if books.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ books.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in books.paginator.page_range %}
        {% if books.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > books.number|add:'-3' and num < books.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if books.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ books.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ books.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
  </div>
</div>
{% endblock content %}

