{% extends "books/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <legend class="border-bottom mb-4">
    <a
      data-toggle="collapse"
      href="#insertCollapse"
      role="button"
      aria-expanded="false"
      aria-controls="insertCollapse"
      >Insert data</a
    >
  </legend>
  <form
    method="POST"
    action={% url 'books:insert' 'publisher' %}
    class="collapse multi-collapse"
    id="insertCollapse"
  >
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Save</button>
    </div>
  </form>
</div>
<div class="content-section">
  <legend class="border-bottom mb-4">Search</legend>
  <form action="{% url 'books:search-publisher' %}" method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Publisher :</label>
        <input type="text" class="form-control" name="name" />
      </div>
      <div class="form-group col-md-2">
        <label>: </label>
        <input
          type="submit"
          class="form-control btn btn-primary"
          value="Search"
        />
      </div>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-hover">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Adress</th>
        <th scope="col">Phone</th>
          {% if user.is_authenticated %}
          <th scope="col">Extra Option</th>
          {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for publisher in publishers %}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ publisher.name}}</td>
        <td>{{ publisher.address}}</td>
        <td>{{ publisher.phone}}</td>
          {% if user.is_authenticated %}
          <td>
            <button type="button" class="btn btn-outline-primary btn-sm">
              E
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm">
              D
            </button>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% if publishers.has_other_pages %}

    {% if publishers.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ publishers.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in publishers.paginator.page_range %}
      {% if publishers.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > publishers.number|add:'-3' and num < publishers.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if publishers.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ publishers.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ publishers.paginator.num_pages }}">Last</a>
    {% endif %}

  {% endif %}
  </div>
</div>
{% endblock content %}